@import "tailwindcss";
@font-face {
  font-family: "BeyondInfinity";
  src: url("/font/Beyond Infinity - Demo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BlackerText";
  src: url("/font/Zetafonts - Blacker Pro Text Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BlackerDisplay";
  src: url("/font/Zetafonts - Blacker Pro Display Medium Italic.otf")
    format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Utility classes */
.font-heading {
  font-family: "BeyondInfinity", cursive;
}

.font-display {
  font-family: "BlackerDisplay", serif;
}

.font-body {
  font-family: "BlackerText", sans-serif;
}